PORT=3000
CLASSEVIVA_BASE_URL=https://web.spaggiari.eu/rest
CLASSEVIVA_USER_AGENT=CVVS/std/4.1.7 Android/10
CLASSEVIVA_DEV_API_KEY=Tg1NWEwNGIgIC0K
CLASSEVIVA_CONTENTS_DIARY_TYPE=application/json
REQUEST_TIMEOUT_MS=15000
